<h1>Show your deliveries </h1>
<h2> your gingerbread deliveries</h2>
<div>
<ul>
<li>From: <br/>	
<%= @delivery.start_address %>
</li>
<li>To: <br/>	
<%= @delivery.end_address %>
</li>
<li>Start_date: <br/>	
<%= @delivery.start_datetime %>
</li>
<li>End_datetime: <br/>	
<%= @delivery.end_datetime %>
</li>
</ul>
</div>